extends layout

block content
  h1= title
  p  
  p received: #{data} in url

  p Rest service
  form(action="#{data.url}", method="post") 
    p Body:
    input(type="text" name="body" id="body" placeholder="Enter body here")