extends layout

block content
    div(class="hero") 
        h1= title
    
    div(class="content-wrapper")
        form(action="", method="") 
            p(class="form-label") Request to url:
            input(type="text", id="requesturl" class="form-control" placeholder="Enter url here")
            br
            p(class="form-label") Method:
            select(id="method" class="form-select")
                option(value="POST") POST 
                option(value="GET") GET 
            br
            br
            div(class="form-check form-switch")
                input(type="checkbox" id="tba" class="form-check-input" onclick="enableNSInstance(this);") 
                label(class="form-check-label" for="tba") Netsuite Instance:
            br
            select(id="netsuite_instance" class="form-select" disabled="true")
                option(value="Trox") Troxell 
                option(value="JDGroup") JD Group 
            br
            br
            p(class="form-label") Body:
            textarea( name="json" id="json" class="form-control" placeholder="Parameter json")
            br
            input(type="button" value="Request" class="btn btn-dark" onclick="Request();")
            br
            br
            p(class="form-label") Text with slashes:
            textarea( name="body" id="body" class="form-control" placeholder="Enter response with slashes here")
            br
            input(type="button" id="makepretty" value="Make Pretty" class="btn btn-dark" onclick="showTxtPrettyJSON();")
        br
        br
        div(id="jsoncontent")
        br
        br
        div(id="injectedprettyprint")
            iframe(src="https://codebeautify.org/jsonviewer", title="prettydisplay" height="400" width="80%" frameborder="0") 

    script(src="/js/codelogic.js")