extends layout

block content
  h1= title 
  
  div(id="injectedprettyprint")
            iframe(src="https://jsonformatter.org/json-pretty-print", title="prettydisplay" height="400" width="80%" frameborder="0") 